<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>
        <%= author.name %>
    </h3>
    <h3>
        <%= author.email %>
    </h3>
    <h3>
        <%= author.age %>
    </h3>
    <a href="/authors/<%= author._id %>/edit">
        edit
    </a>
    <a href="/authors/<%= author._id %>/delete">
        delete
    </a>
</body>
</html>